body{
  font-family: sans-serif
}

.menu-item {
  width: 250px;
  height: 50px;
  text-align: center;
  border: 1px solid gray;
  list-style-type: none;
  padding: 10px;
}

.container {
display: flex;
}

.hover {
  background: grey
}

.selected{
  background: rgb(70, 209, 93)
}
